@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.menu {
  width: 100%;
  text-align: right;
}

.icon-view {
  /* display: inline-block; */
  margin-left: auto;
  color: #696969;
  font-size: 30px;
  cursor: pointer;
}
