.small {
  font-size: 11px;
  font-size: 0.7rem;
  color: #999;
  margin-top: 10px;
}
.align-right {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.size-desc {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.purchase-info {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.price {
  font-size: 40px;
  font-size: 2.5rem;
}

.selection {
  background: #fff;
}

.range-picker {
  font-size: 16px;
  font-size: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 0.9em;
}
.range-picker div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #bbb;
  width: 30px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.highlight-window.mobile {
  display: none;
}
.range-picker .active:hover {
  background: #fff;
}
.range-picker .active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: #fff;
  margin-right: 3px;
  margin-left: 2px;
  color: #333;
  border: 1px solid #666;
  z-index: 1;
}
.check {
  position: absolute;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  width: 0px;
  bottom: -3px;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-right: 10px solid transparent;
  height: 0px;
}
.range-picker div:hover {
  background: #eee;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.range-picker div:first-child {
  border-left: 1px solid #bbb;
}
.range-picker div.active:first-child {
  border-left: 1px solid #333;
}

@media (max-width: 850px) {
  body {
    background: #fff;
    overflow: auto;
  }
  h1 {
    font-size: 2rem;
  }
  h3,
  h2 {
    font-size: 1rem;
  }
  .container {
    background: #fff;
    overflow: auto;
  }
  .background-element {
    display: none;
  }
  .main-content {
    overflow: auto;
    height: auto;
    padding-right: 25px;
  }
  .options {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  .highlight-window {
    position: fixed;
    left: 0;
    height: 100%;
    width: 50%;
  }
  .window {
    overflow: auto;
    width: 50%;
    height: auto;
    position: absolute;
    box-shadow: none;
    right: 0;
  }
  .price {
    margin-bottom: 15px;
  }
  .button {
    width: 100%;
  }
  .color-options {
    margin-bottom: 15px;
  }
  .align-right {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .purchase-info {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

@media (max-width: 550px) {
  .highlight-window {
    display: none;
  }
  body {
    overflow: auto;
    height: auto;
  }
  .highlight-window.mobile {
    position: relative;
    display: block;
    height: 500px;
    box-shadow: none;
    border: 1px solid #ccc;
    margin-top: 15px;
    width: 100%;
  }
  .container {
    overflow: auto;
  }
  .window {
    width: 100%;
    position: relative;
    height: 100%;
    overflow: auto;
  }
}
